body {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    width: 180px;
    height: 50px;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
}

.text-primary {
    font-weight: 400;
    color: #727272;
}

.text-secondary {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

/* header and nav section styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 45px;
    color: #131313;
}

.nav-info ul {
    display: flex;
    gap: 30px;
}

.nav-info ul li {
    list-style: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}

.header-info {
    width: 973px;
    text-align: center;
    margin-bottom: 30px;
}

.header-info-title {
    font-size: 64px;
    color: #131313;
}

.header-info-description {
    font-weight: 400;
    color: #727272;
}

.header-info button {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

/* banner section styles */
.banner img {
    width: 1100px;
    height: 700px;
    border-radius: 8px;
}

/* gallery section styles */
.gallery {
    display: flex;
    align-items: center;
}

.gallery-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.gallery-info {
    margin-left: 50px;
}

.gallery-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.gallery-title-part {
    font-size: 45px;
    color: #131313;
}

.gallery-title-portion {
    font-size: 45px;
    color: #FF900E;
}

.gallery-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* features section styles */
.features {
    display: flex;
    gap: 10px;
    max-width: 1100px;
    height: 1400px;
}

.feature {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.vertical-line {
    width: 5px;
    height: 80px;
    background: #FF900E;
    float: left;
    border: 0;
    margin: 0;
}

.feature-title {
    font-size: 45px;
    color: #131313;
    margin-left: 20px;
    margin-top: 200px;
}

.feature-image {
    margin-top: 237px;
}

.feature-experience {
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    position: absolute;
    margin-left: 385px;
    top:2988px;
}
.feature-experience span{
    font-size: 65px;
    color: #FFFFFF;
}
.feature-experience-year{
    padding: 40px;
}
.feature-experience-year p{
    text-align: center;
    color:white;
}